.logged-in.admin-bar .bounce-in-header{
    margin-top: 32px;
}

.header-upper .logo img {
    margin-top: 10px;
}
body .page-wrapper{
	overflow:hidden;
}
body .page-wrapper > p{
	display:none;
}
.whyus-section .container,.request-quote-section .container,.sidebar-page-container .container{
	max-width:1200px;
	width:1200px;
	padding:0px;
}
.wpcf7-form-control.wpcf7-select{
	cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    background: url(../images/icons/icon-select.png) right center no-repeat;
}
.testi-thumb img{
    border-radius: 50%;
}
.featured-style-one .overlay-box{
	min-height:275px;
}
.wpb_content_element{
    margin-bottom: 0px !important; 
}
.portfolio-section.four-column .auto-container{
	padding:0px !important;
}
.info-section .container{
	padding-left:0px !important;
	padding-right:0px !important;
}
.pagination{
	position:relative;
	text-align:center;
	width:100%;
	margin:0px;
}

.pagination li{
	position:relative;
	display:inline-block;
	margin:0px 5px 10px;	
}

.pagination li a,.pagination li span{
	position:relative;
	display:block;
	line-height:24px;
	padding:6px 5px;
	font-size:16px;
	text-transform:uppercase;
	min-width:40px;
	border:1px solid rgba(0,0,0,0.40);	
	background:#ffffff;
	color:#1a1a1a;
	text-align:center;
	border-radius:3px;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
}

.pagination li a.next,
.pagination li a.prev{
	padding:6px 15px;	
}

.pagination li a:hover,.pagination > li > span:hover,
.pagination li a.active,.pagination > li > span.active{
	color:#ffffff;
	background:#247fe1 !important;
	border-color:#247fe1 !important;	
}
.page-title{
	background-image:url(../images/background/bg-page-title-6.jpg);
}
.comment-reply-link .fa{
	font-size:10px;
}
.comment-box .children{
	margin-left:50px;
}

/*******************************Widgets*****************************/
.widget ul li:before {
	content: "";
    font-family: "FontAwesome";
    font-size: 16px;
    left: 0;
    line-height: 24px;
    position: absolute;
    width: 20px;
}
.widget ul li{
	line-height: 24px;
    margin-bottom: 5px;
    position: relative;
}
.widget ul li a{
	color: #3d3d3d;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    position: relative;
}
.widget ul li a:hover {
    color: #247fe1;
}
.widget .recent-posts hr:last-child{
	display:none;
}
.tagcloud a {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #777777;
    display: inline-block;
    font-size: 14px !important;
    line-height: 24px;
    margin: 0 5px 12px 0;
    padding: 5px 16px;
    position: relative;
    text-align: center;
    transition: all 300ms ease 0s;
}
.tagcloud a:hover {
    background-color: #247fe1;
    border-color: #247fe1;
    color: #ffffff;
}
.widget.downloads ul li:before{
	display:none;
}

/****************************Not Found Search Page************************/
.consult-search .search-box input[type="search"]{
	background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #3a3a3a;
    display: block;
    line-height: 24px;
    padding: 8px 50px 8px 20px;
    position: relative;
    transition: all 500ms ease 0s;
    width: 100%;
	margin-top:20px;
}
.consult-search .search-box .form-group{
	width:56%;
	position:relative;
}
.consult-search .search-box .form-group button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #dcdcdc;
    display: block;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
.consult-search .search-box .form-group button:hover{
	color: #247fe1;
}
.back-to-home{
	margin-top:20px;
}
.not_found{
	padding:120px 0;
}
/*--------------------------theme check----------------------------------*/
	#wp-calendar {
		width: 100%;
	}
	#wp-calendar caption {
		text-align: right; 
		color: #929292; 
		font-size: 12px; 
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#wp-calendar thead { 
		font-size: 10px;
	}
	#wp-calendar thead th { 
		padding-bottom: 10px;
	}
	#wp-calendar tbody { 
		color: #aaa; 
	}
	#wp-calendar tbody td { 
		background: #f5f5f5; 
		border: 1px solid #fff; 
		text-align: center; 
		padding:8px;
	}
	#wp-calendar tbody td:hover { 
		background: #fff; 
	}
	#wp-calendar tbody .pad { 
		background: none; 
	}
	#wp-calendar tfoot #next { 
		font-size: 10px; 
		text-transform: uppercase; 
		text-align: right;
	}
	#wp-calendar tfoot #prev { 
		font-size: 10px; 
		text-transform: uppercase; 
		padding-top: 10px; 
	}
	
	.sticky .post {background: #efefef; border: 3px solid #fff; }
	.sticky .post .post-content{ background-color:transparent; }
	.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
	}
	.gallery-caption {}
	.bypostauthor{}
	.alignright{ 
		text-align:right;
	}
	.alignleft{ 
		text-align:left;
	}
	.aligncenter{ 
		text-align:center;
	}	
	.screen-reader-text{
	}

/*************************************Theme Unit Testing***********************/
.sticky .blog-news-column .inner-box{
	background:#eeeeee;
	padding:15px;
}
.blog-news-column .text h1, .blog-news-column .text h2,.blog-news-column .text h3,.blog-news-column .text h4,.blog-news-column .text h5,.blog-news-column .text h6,
.comment .text h1, .comment .text h2,.comment .text h3,.comment .text h4,.comment .text h5,.comment .text h6,
.blog-news-section h1, .blog-news-section h2,.blog-news-section h3,.blog-news-section h4,.blog-news-section h5,.blog-news-section h6{
	color:#2f2f31;
	margin-bottom:15px !important;
}
.blog-news-column .text h3,.blog-news-section h3{
	font-size: 18px !important;
}
.blog-news-column .text table thead tr th,.comment .text table thead tr th,.blog-news-section table thead tr th{
	border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}
.blog-news-column .text table tbody tr th,.comment .text table tbody tr th,.blog-news-section table tbody tr th{
	border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.blog-news-column .text table tbody tr td,.comment .text table tbody tr td,.blog-news-section table tbody tr td{
	border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.blog-news-column .text ul:first-child,.blog-news-column .text ol:first-child,
.comment .text ul:first-child,.comment .text ol:first-child,
.blog-news-section ul:first-child,.blog-news-section ol:first-child{
	padding:0px;
}
.blog-news-column .text ul,.blog-news-column .text ol,
.comment .text ul, .comment .text ol,
.blog-news-section ul, .blog-news-section ol{
	/*padding-left:40px !important;*/
}
.blog-news-column .text ul li,.comment .text ul li,
.blog-news-section ul li,.blog-news-section ul li{
	list-style-type:disc;
	display:list-item;
}
.blog-news-column .text ul li ul li, .comment .text ul li ul li,
.blog-news-section ul li ul li{
	list-style-type:circle;
}
.blog-news-column .text ul li ul li ul li, .comment .text ul li ul li ul li,.blog-news-section ul li ul li ul li{
	list-style-type:square;
}
.blog-news-column .text ol li,.comment .text ol li,.blog-news-section ol li{
	list-style-type:decimal;
	display:list-item;
}
.blog-news-column .text ol li ol li,.comment .text ol li ol li,.blog-news-section ol li ol li{
	list-style-type:lower-alpha;
}
.blog-news-column .text ol li ol li ol li,.comment .text ol li ol li ol li,.blog-news-section ol li ol li ol li{
	list-style-type:upper-roman;
}
.blog-news-column p img,.blog-news-column figure img,
.blog-news-section p img,.blog-news-section figure img{
	max-width:100%;
	display:block;
	height:auto;
}
figure{
	max-width:100%;
	display:block;
}
.paginate-links a,.paginate-links > span{
	position:relative;
	display:inline-block;
	margin:0px 5px 10px;	
}
/*****************************Default Widget Styling*********************************/
.sidebar .widget ul li a{
	width:88%;
	display:inline-block;
}
.sidebar .widget select{
	width:100%;
	display:block;
	border:1px solid #ededed;
	padding:10px 0;
}
.sidebar .widget .calendar_wrap #wp-calendar{
	width:100%;
}
.sidebar .widget ul.children li{
	border-bottom:none;
	padding-bottom:0px;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget.widget_rss ul li:before{
	display:none;
}
.widget.widget_rss ul li{
	border-bottom:1px solid #ebebeb;
	padding:20px 0;
}
.widget.widget_rss ul li a{
	padding:0px;
	margin-bottom:10px;
}
.blog-news-column .inner-box .text .row figure{
	margin:15px 0;
}
.blog-news-column .inner-box .text .row .styled-list-one{
	padding-left:0px !important;
}
.blog-news-column .inner-box .text .row .styled-list-one li{
	list-style-type:none !important;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pagination > li {
    display: inline-block !important;
    list-style-type: none !important;
}
.widget.downloads li a,.widget_bunch_services_posts ul li a{
	width:100%;
}
/* Pagination */	
.paginate-links a {
    position: relative;
    display: inline-block;
    line-height: 15px;
    padding: 7px 14px;
    font-size: 13px;
    text-transform: uppercase;
    min-width: 36px;
    border: 1px solid #fbca00;
    background: #ffffff;
    color: #fbca00;
    font-weight: 700;
    text-align: center;
    border-radius: 1px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
}
.paginate-links a:hover{
    color: #ffffff;
    background: #fbca00;
    border-color: #fbca00;
}
.paginate-links > span{
   color: #ffffff;
    background: #fbca00;
    border-color: #fbca00;
    padding: 3px 14px;
}
.paginate-links > span:hover{
    color: #ffffff;
    background: #fbca00;
    border-color: #fbca00;
}
/* Pagination */
/* Image Hover */
.blog-post .image-box {
	display:inline-block;
}
/* Image Hover */
.blog-news-column .text ul, .blog-news-column .text ol, .comment .text ul, .comment .text ol, .blog-news-section ul, .blog-news-section ol {
    padding-left: 40px !important;
}
.post-password-form label input {
    border: 1px solid #a5a5a5;
    padding: 8px;
    margin-left: 15px;
}
.post-password-form input[type=submit]{ cursor: pointer;
    padding: 8px 15px;
    color: #000;
    margin-left: -5px;
    border: 1px solid #a5a5a5;}
.children {
    margin-left: 50px;
}		
select option {
    color: #7b7b7b;
}
select {
    font-family: 'PT Sans', sans-serif;
    background: #ffffff;
    width: 100%!important;
    padding: 8px;
    color: #676767;
}
.ty ul{
	padding-left:0px!important
	}