	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/04/2016 14:47
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-ambulance:before { content: "\f100"; }
.flaticon-blood-donation:before { content: "\f101"; }
.flaticon-check:before { content: "\f102"; }
.flaticon-dentist:before { content: "\f103"; }
.flaticon-email:before { content: "\f104"; }
.flaticon-folder:before { content: "\f105"; }
.flaticon-internet:before { content: "\f106"; }
.flaticon-kneecap:before { content: "\f107"; }
.flaticon-like:before { content: "\f108"; }
.flaticon-mark:before { content: "\f109"; }
.flaticon-medical:before { content: "\f10a"; }
.flaticon-medical-1:before { content: "\f10b"; }
.flaticon-medical-10:before { content: "\f10c"; }
.flaticon-medical-11:before { content: "\f10d"; }
.flaticon-medical-12:before { content: "\f10e"; }
.flaticon-medical-13:before { content: "\f10f"; }
.flaticon-medical-14:before { content: "\f110"; }
.flaticon-medical-15:before { content: "\f111"; }
.flaticon-medical-16:before { content: "\f112"; }
.flaticon-medical-17:before { content: "\f113"; }
.flaticon-medical-18:before { content: "\f114"; }
.flaticon-medical-19:before { content: "\f115"; }
.flaticon-medical-2:before { content: "\f116"; }
.flaticon-medical-20:before { content: "\f117"; }
.flaticon-medical-21:before { content: "\f118"; }
.flaticon-medical-22:before { content: "\f119"; }
.flaticon-medical-23:before { content: "\f11a"; }
.flaticon-medical-24:before { content: "\f11b"; }
.flaticon-medical-25:before { content: "\f11c"; }
.flaticon-medical-3:before { content: "\f11d"; }
.flaticon-medical-4:before { content: "\f11e"; }
.flaticon-medical-5:before { content: "\f11f"; }
.flaticon-medical-6:before { content: "\f120"; }
.flaticon-medical-7:before { content: "\f121"; }
.flaticon-medical-8:before { content: "\f122"; }
.flaticon-medical-9:before { content: "\f123"; }
.flaticon-people:before { content: "\f124"; }
.flaticon-perfusion:before { content: "\f125"; }
.flaticon-phone-call:before { content: "\f126"; }
.flaticon-placeholder:before { content: "\f127"; }
.flaticon-profile:before { content: "\f128"; }
.flaticon-quality:before { content: "\f129"; }
.flaticon-scissors:before { content: "\f12a"; }
.flaticon-share:before { content: "\f12b"; }
.flaticon-sign:before { content: "\f12c"; }
.flaticon-smile:before { content: "\f12d"; }
.flaticon-syringe:before { content: "\f12e"; }
.flaticon-tag:before { content: "\f12f"; }
.flaticon-transport:before { content: "\f130"; }
.flaticon-transport-1:before { content: "\f131"; }
