.why .icon-box {
    margin-bottom: 30px;
    padding: 0px;
    padding: 20px;
}
.why  .icon-box a {
    font-size: 35px!important;
    margin-right: 30px!important;
    margin-top: 13px!important;
}
.pr_t {
    width: 100%;
    padding: 33px 10px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 22px;
}
.pricing-table .table-list li {
    border-bottom: 0;
    font-size: 16px;
    padding: 15px;
}
.pricing-table .table-list li i:before {
	margin-right:10px;
}
.bt_s{
    margin-bottom: 20px;
    margin-top: 20px;}

.pr_t  sup{font-size: 30px;font-weight:700;}
.skew-btn{
	position:relative;
	display:inline-block;
	padding:8px 30px;
	color:#7d7d7d;
	text-transform:capitalize;
	font-size:13px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.skew-btn .btn-text{
	position:relative;
	z-index:1;	
}

.skew-btn:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #01a5c9;
    background: #ffffff;
    transform: skewX(-22deg);
    -webkit-transform: skewX(-22deg);
    -moz-transform: skewX(-22deg);
    -o-transform: skewX(-22deg);
    -ms-transform: skewX(-22deg);
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    z-index: 0;
}

.skew-btn:hover:before{
	background:#01a5c9;
	border-color:#01a5c9;
}

.skew-btn:hover{
	color:#ffffff;
}

.theme_color{
	color:#01a5c9;	
}

.text-white{
	color:#ffffff !important;	
}

.padd-top-20{
	padding-top:20px !important;	
}

.padd-top-30{
	padding-top:30px !important;	
}

.padd-top-40{
	padding-top:40px !important;	
}

.padd-bott-20{
	padding-bottom:20px !important;	
}

.padd-bott-30{
	padding-bottom:30px !important;	
}

.padd-bott-40{
	padding-bottom:40px !important;	
}

.margin-top-20{
	margin-top:20px !important;	
}

.margin-top-30{
	margin-top:30px !important;	
}

.margin-top-40{
	margin-top:40px !important;	
}

.margin-bott-20{
	margin-bottom:20px !important;	
}

.margin-bott-30{
	margin-bottom:30px !important;	
}

.margin-bott-40{
	margin-bottom:40px !important;	
}

.no-padd-bottom{
	padding-bottom:0px !important;	
}

.no-padd-top{
	padding-top:0px !important;	
}

.no-margin-bottom{
	margin-bottom:0px !important;	
}

.no-margin-top{
	margin-bottom:0px !important;	
}

.no-bg{
	background:none !important;	
}

.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:999999; background-color:#ffffff; background-position:center center; background-repeat:no-repeat; background-image:url(../images/icons/preloader.gif);}


/*** 

====================================================================
	Featured Three Column style
====================================================================

***/


.featured-three-col{
	position:relative;
	background:#ffffff;
	padding:70px 0px 30px;
}

.featured-three-col .column{
	position:relative;
	margin-bottom:40px;	
}

.featured-three-col .column .inner-box{
	position:relative;
	display:block;
	border-bottom:3px solid transparent;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	box-shadow:0px 0px 4px -3px #01a5c9;
	-webkit-box-shadow:0px 0px 4px -3px #01a5c9;
	-ms-box-shadow:0px 0px 4px -3px #01a5c9;
	-o-box-shadow:0px 0px 4px -3px #01a5c9;
	-moz-box-shadow:0px 0px 4px -3px #01a5c9;	
}

.featured-three-col .column .inner-box:hover,
.featured-three-col .column .inner-box.active{
	border-bottom-color:#01a5c9;
}

.featured-three-col .column .inner-box:after{
	font-family: 'FontAwesome';
	content: "\f0d8";
	text-align:center;
	position:absolute;
	right:0;
	bottom:-9px;
	width:100%;
	color:#ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.featured-three-col .column .inner-box:hover:after,
.featured-three-col .column .inner-box.active:after{
	color:#01a5c9;	
}

.featured-three-col .column .image-box{
	position:relative;
	overflow:hidden;
}

.featured-three-col .column .image-box img{
	position:relative;
	display:block;
	width:100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	background:#01a5c9;	
}

.featured-three-col .column .inner-box:hover .image-box img{
	transform:scale(1.1,1.1) rotate(-3deg);
	-webkit-transform:scale(1.1,1.1) rotate(-3deg);
	-ms-transform:scale(1.1,1.1) rotate(-3deg);
	-o-transform:scale(1.1,1.1) rotate(-3deg);
	-moz-transform:scale(1.1,1.1) rotate(-3deg);
	opacity:0.90;	
}

.featured-three-col .column .content{
	position:relative;
	padding:15px;	
}

.featured-three-col .column h3{
	position:relative;
	font-size:16px;
	color:#1b1b1b;
	font-family:'Open Sans',sans-serif;
	font-weight:600;
	margin-bottom:10px;
	text-transform:capitalize;
}

.featured-three-col .column h3 a{
	position:relative;
	color:#1b1b1b;
}

.featured-three-col .column h3 a:hover,
.featured-three-col .column .read-more:hover{
	color:#01a5c9;	
}

.featured-three-col .column .text{
	text-align:justify;	
}

.featured-three-col .column .read-more{
	position:relative;
	display:inline-block;
	margin:10px 0px;
	text-transform:capitalize;
	color:#01a5c9;
}

.featured-three-col .column .read-more .icon{
	position:relative;
	padding-right:5px;
	font-size:14px;	
}

/*** 

====================================================================
	Intro Section style
====================================================================

***/

.intro-section{
	position:relative;
	padding:0px 0px;
	text-align:center;
	overflow:hidden;
}

.intro-section .inner{
	position:relative;
	padding:40px 90px 40px 60px;
}

.intro-section .inner .content-box{
	position:relative;
	padding:20px 60px 20px 40px;
	color:#b4ddfd;
}

.intro-section .inner .content-box h2{
	font-size:24px;
	font-weight:700;
	text-transform:uppercase;
	color:#ffffff;
	margin-bottom:7px;	
}

.intro-section .inner .content-box:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#01a5c9;
	transform:skewX(-22deg);
	-webkit-transform:skewX(-22deg);
	-moz-transform:skewX(-22deg);
	-o-transform:skewX(-22deg);
	-ms-transform:skewX(-22deg);
}

.intro-section .inner .skew-line{
	position:absolute;
	top:0px;
	width:70px;
	height:100%;
	transform:skewX(-22deg);
	-webkit-transform:skewX(-22deg);
	-moz-transform:skewX(-22deg);
	-o-transform:skewX(-22deg);
	-ms-transform:skewX(-22deg);	
}

.intro-section .inner .skew-line:before{
	content:'';
	position:absolute;
	left:0px;
	bottom:-40px;
	display:block;
	width:1px;
	height:100%;
	background:#01a5c9;	
}

.intro-section .inner .skew-line:after{
	content:'';
	position:absolute;
	left:25px;
	top:-40px;
	display:block;
	width:1px;
	height:100%;
	background:#01a5c9;	
}

.intro-section .inner .skew-line.line-left{
	left:0px;
	top:0px;	
}

.intro-section .inner .skew-line.line-right{
	right:-15px;
	top:0px;	
}

/*** 

====================================================================
	Featured Services Section
====================================================================

***/

.sec-title{
	position:relative;
	margin-bottom:40px;
	padding-right:80px;
}

.sec-title h2,
h2.styled-title{
	position:relative;
	font-size:18px;
	color:#2b2b2b;
	text-transform:uppercase;
	font-weight:700;
	padding-left:34px;
}

.sec-title h2:before,
h2.styled-title:before{
	content:'';
	position:absolute;
	left:0px;
	top:4px;
	width:15px;
	height:20px;
	background:#01a5c9;	
}
#about .thumb h4 a{    
    color: #4c4c4c!important;
    font-weight: 700;}
.icon-box-title{margin-top:0px}
.sec-title h2:after,
h2.styled-title:after{
	content:'';
	position:absolute;
	left:10px;
	top:4px;
	width:10px;
	height:20px;
	background:rgb(173, 173, 173);
	transform:skewX(-25deg);
	-webkit-transform:skewX(-25deg);
	-ms-transform:skewX(-25deg);
	-o-transform:skewX(-25deg);
	-moz-transform:skewX(-25deg);
	
}

.sec-title .heading-text{
	position:relative;
	font-size:14px;
	margin:5px 0px 0px;
}

.featured-services{
	position:relative;
	padding:0px;
	background:#ffffff;
}

.featured-services .column{
	position:relative;
	margin-bottom:70px;	
}

.featured-services .column .inner-box{
	position:relative;
	display:block;
	margin-right:0px;
	padding:35px 25px 40px;
	border:1px solid #f1f1f1;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.featured-services .column .icon{
	position:relative;
	display:block;
	left:0px;
	top:0px;
	font-size:48px;
	margin-bottom:25px;
	color:#01a5c9;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.featured-services .column .inner-box:hover .icon{
	color:#01a5c9;	
}

.featured-services .column h3{
	position:relative;
	font-size:15px;
	font-weight:600;
	margin-bottom:16px;
	color:#3a4145;
	text-transform:capitalize;
	font-family:'Open Sans',sans-serif;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.featured-services .column .text{
	position:relative;
	margin-bottom:10px;	
}

.featured-services .column .inner-box:hover{
	border-color:#01a5c9;	
}

.featured-services .column .theme-btn{
	position:absolute;
	right:-20px;
	bottom:-18px;	
}

/*** 

====================================================================
	Fluid Section One Style
====================================================================

***/

.fluid-section-one{
	position:relative;
	background:#eaeff3;
	overflow:hidden;	
}

.large-container{
	max-width:1340px;
	margin:0 auto;
	padding:0px 15px;
}

.fluid-section-one .large-container{
	position:relative;	
}

.fluid-section-one .large-container .left-column{
	position:relative;
	float:left;
	width:60%;
	padding:80px 0px 60px;	
}

.fluid-section-one .large-container .bg-skew{
	position:absolute;
	left:0px;
	top:0px;
	width:57%;
	height:100%;
	background:#f1f1f1;
	transform:skewX(-22deg);
	-webkit-transform:skewX(-22deg);
	-ms-transform:skewX(-22deg);
	-o-transform:skewX(-22deg);
	-moz-transform:skewX(-22deg);
}

.fluid-section-one .large-container .bg-skew:before{
	content:'';
	position:absolute;
	display:block;
	right:50%;
	width:1500px;
	height:100%;
	background:#f1f1f1;
	
}

.logistic-progress{
	position:relative;
	color:#4e4e4e;
	padding-right:120px;
}

.log-progress-section .logistic-progress{
	position:relative;
	color:#4e4e4e;
	padding-right:0px;
}

.logistic-progress h2{
	font-size:18px;
	font-weight:600;
	margin-bottom:20px;
	text-transform:uppercase;
	color:#1f1f1f;
}
.desc-text p{color:#717171}
.logistic-progress .desc-text{
	position:relative;
	margin-bottom:50px;	
}

.logistic-progress .column{
	position:relative;
	margin-bottom:20px;	
}

.logistic-progress .column .inner-box{
	position:relative;	
}

.logistic-progress .inner-box .upper{
	position:relative;
	padding-right:40px;
	margin-bottom:20px;
	max-width:200px;
}

.logistic-progress .inner-box .upper .arrow{
	position:absolute;
	right:0px;
	top:50%;
	height:20px;
	width:40px;
	display:block;
	margin-top:-10px;
	background:url(../images/icons/arrow-right.png) right center no-repeat;
	opacity:0.70;
}

.logistic-progress .inner-box h3{
	position:relative;
	margin-bottom:10px;
	font-size:14px;
	font-family:'Open Sans',sans-serif;
	font-weight:600;
	color:#4c4c4c;	
}

.logistic-progress .inner-box .icon-box{
	position:relative;
	display:block;
	width:80px;
	height:80px;
	text-align:center;
	border:1px solid #ffffff;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.logistic-progress .inner-box:hover .icon-box{
	border-color:#01a5c9;	
}

.logistic-progress .inner-box .icon-box .icon {
    position: relative;
    display: block;
    line-height: 78px;
	color: #01a5c9;
    font-size: 35px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    
}

.logistic-progress .inner-box:hover .icon-box .icon{
	color:#01a5c9;	
}

.logistic-progress .inner-box .step-count {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px;
    line-height: 24px;
    width: 19px;
    height: 25px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.32);
}

.fluid-section-one .large-container .right-column{
	position:relative;
	float:left;
	width:40%;
	padding:80px 0px 40px 60px;	
}

.get-quote-form{
	position:relative;
	color:#666666;
}

.get-quote-form .envelope-icon{
	font-size:32px;
	color:#aaaaaa;
	margin-bottom:20px;	
}

.get-quote-form h2{
	font-size:18px;
	font-weight:700;
	margin-bottom:10px;
	text-transform:uppercase;
	color:#2b2b2b;
}

.get-quote-form .desc-text{
	position:relative;
	margin-bottom:20px;	
}

.get-quote-form .form-group{
	position:relative;
	margin-bottom:15px;
}

.get-quote-form .form-group input[type="text"],
.get-quote-form .form-group input[type="email"],
.get-quote-form .form-group input[type="password"],
.get-quote-form .form-group input[type="number"],
.get-quote-form .form-group input[type="tel"],
.get-quote-form .form-group select,
.get-quote-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	border:1px solid #d0d0d0;
	background:#ffffff;
	color:#2b2b2b;
	line-height:24px;
	padding:7px 15px;
	min-height:40px;
}

.get-quote-form .form-group select{
	cursor:pointer;
	background:#ffffff url(../images/icons/icon-select.png) right center no-repeat;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	height:40px;	
}

.get-quote-form .form-group select option{
	text-indent:15px;
	padding-top:3px;	
}

.get-quote-form .form-group textarea{
	height:150px;
	resize:none;
}

.get-quote-form .form-group input[type="text"]:focus,
.get-quote-form .form-group input[type="email"]:focus,
.get-quote-form .form-group input[type="password"]:focus,
.get-quote-form .form-group input[type="number"]:focus,
.get-quote-form .form-group input[type="tel"]:focus,
.get-quote-form .form-group select:focus,
.get-quote-form .form-group textarea:focus{
	border-color:#01a5c9;	
}


/*** 

====================================================================
	Our Team style
====================================================================

***/

.team-section{
	position:relative;
	padding:60px 0px;
}

.team-section.bg-two{
	background:#ecf4fc;	
}

.team-section .member-column{
	position:relative;
}

.team-section .member-column .inner-box{
	position:relative;
	max-width:450px;
	margin:0 auto;	
}

.team-section .member-column .image{
	position:relative;
	overflow:hidden;	
}

.team-section .member-column .image img{
	position:relative;
	display:block;
	width:100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.team-section .member-column:hover .image img{
	-webkit-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	transform:scale(1.03,1.03);
	-webkit-transform:scale(1.03,1.03);
	-ms-transform:scale(1.03,1.03);
	-o-transform:scale(1.03,1.03);
	-moz-transform:scale(1.03,1.03);
}

.team-section .member-column .social-links{
	position:relative;
	display:inline-block;
	border:1px solid #e3e3e3;
	border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
}

.team-section .member-column .social-links li{
	position:relative;
	float:left;
	border-left:1px solid #e3e3e3;
}

.team-section .member-column .social-links li:first-child{
	border:none;	
}

.team-section .member-column .social-links li a{
	position:relative;
	display:block;
	width:34px;
	height:36px;
	text-align:center;
	font-size:14px;
	line-height:36px;
	color:#cccccc;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;	
}

.team-section .member-column .social-links li a:hover{
	color:#01a5c9;	
}

.team-section .member-column .member-title{
	position:relative;
	padding:20px 0px 0px;	
}

.team-section .member-column .member-title p{
	font-style:italic;
	color:#01a5c9;
	font-size:14px;	
}

.team-section .member-column .member-title h4{
	font-size:16px;
	text-transform:capitalize;
	font-family:'Open Sans',sans-serif;
	font-weight:500;
	margin-bottom:5px;	
}

.team-section .member-column .member-desc{
	position:relative;
	margin-bottom:20px;	
}



.team-section .owl-controls{
	position:absolute;
	right:0px;
	top:-70px;
	margin:0px !important;	
}

.team-section .owl-nav .owl-prev{
	position:absolute;
	right:35px;
	top:0;
	width:24px;
	padding-right:3px;
	height:40px;
	border:1px solid #e3e3e3;
	text-align:center;
	color:#cccccc;
	background:#ffffff !important;
	font-size:0px !important;
}

.team-section .owl-nav .owl-next{
	position:absolute;
	right:0px;
	top:0;
	width:24px;
	padding-left:3px;
	height:40px;
	text-align:center;
	color:#cccccc;
	border:1px solid #e3e3e3;
	background:#ffffff !important;
	font-size:0px !important;
}

.team-section .owl-nav .owl-prev:after{
	content:'\f104';
	font-family:'FontAwesome';
	position:absolute;
	left:-3px;
	top:50%;
	margin-top:-10px;
	display:block;
	font-size:16px;
	text-align:center;
	width:30px;
	height:10px;
	opacity:1;
	color:#cccccc;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;	
}

.team-section .owl-nav .owl-next:after{
	content:'\f105';
	font-family:'FontAwesome';
	position:absolute;
	right:-5px;
	top:50%;
	margin-top:-10px;
	display:block;
	font-size:16px;
	text-align:center;
	width:30px;
	height:10px;
	opacity:1;
	color:#cccccc;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.team-section .owl-nav .owl-prev:hover,
.team-section .owl-nav .owl-next:hover{
	background:#01a5c9 !important;	
}

.team-section .owl-nav .owl-prev:hover:after,
.team-section .owl-nav .owl-next:hover:after{
	opacity:1;
	color:#ffffff;
}

.team-section .owl-dots{
	display:none !important;	
}

/*** 

====================================================================
	Testimonials Section style
====================================================================

***/

.testimonials-section{
	position:relative;
	padding:80px 0px 40px;
	background-color:#f8f8f8;
}

.testimonials-section .testimonials-slider{
	position:relative;
}

.testimonials-section .testimonials-slider .slide-item{
	position:relative;
	margin:50px 0px 0px 0px;
	border:1px solid #cccccc;
	border-bottom-width:3px;
	background:#ffffff url(../images/icons/icon-quote.png) 15px 60px no-repeat;
	text-align:center;
}

.testimonials-section .testimonials-slider .slide-item:hover{
	border-color:#01a5c9;	
}

.testimonials-section .testimonials-slider .image-box{
	position:relative;
	width:80px;
	height:80px;
	margin:-40px auto 0px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
}

.testimonials-section .testimonials-slider .image-box img{
	position:relative;
	width:80px;
	height:80px;
	display:block;
	border-radius:20%;
	-webkit-border-radius:20%;
	-ms-border-radius:20%;
	-o-border-radius:20%;
	-moz-border-radius:20%;
}

.testimonials-section .slide-item h3{
	position:relative;
	text-align:center;
	vertical-align:middle;
	font-size:14px;
	color:#717171;
	font-weight:600;
	margin:0px 5px 20px 0px;	
}

.testimonials-section .rating{
	position:relative;
	display:inline-block;
	vertical-align:middle;	
}

.testimonials-section .rating .fa-star{
	position:relative;
	display:inline-block;
	margin:0px 3px;
	color:#01a5c9;	
}
.testimonials-section .rating {
	color:#01a5c9;	
}
.testimonials-section .slide-text{
	position:relative;
	font-size:14px;
	color:#565656;
	line-height:2em;
	padding:20px;	
}

.testimonials-section .column-carousel .owl-nav {
	position:absolute;
	width:100%;
	top:48%;
	margin-top:-22px !important;
	display:none !important;	
}

.testimonials-section .column-carousel .owl-nav .owl-prev{
	position:absolute;
	left:-70px;
	top:0;
	width:24px;
	padding-right:3px;
	height:40px;
	border:1px solid #e3e3e3;
	text-align:center;
	color:#cccccc;
	background:#ffffff !important;
	font-size:0px !important;
}

.testimonials-section .column-carousel .owl-nav .owl-next{
	position:absolute;
	right:-70px;
	top:0;
	width:24px;
	padding-left:3px;
	height:40px;
	text-align:center;
	color:#cccccc;
	border:1px solid #e3e3e3;
	background:#ffffff !important;
	font-size:0px !important;
}

.testimonials-section .column-carousel .owl-nav .owl-prev:after{
	content:'\f104';
	font-family:'FontAwesome';
	position:absolute;
	left:-3px;
	top:50%;
	margin-top:-10px;
	display:block;
	font-size:16px;
	text-align:center;
	width:30px;
	height:10px;
	opacity:1;
	color:#cccccc;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;	
}

.testimonials-section .column-carousel .owl-nav .owl-next:after{
	content:'\f105';
	font-family:'FontAwesome';
	position:absolute;
	right:-5px;
	top:50%;
	margin-top:-10px;
	display:block;
	font-size:16px;
	text-align:center;
	width:30px;
	height:10px;
	opacity:1;
	color:#cccccc;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.testimonials-section .column-carousel .owl-nav .owl-prev:hover,
.testimonials-section .column-carousel .owl-nav .owl-next:hover{
	background:#01a5c9 !important;	
}

.testimonials-section .column-carousel .owl-nav .owl-prev:hover:after,
.testimonials-section .column-carousel .owl-nav .owl-next:hover:after{
	opacity:1;
	color:#ffffff;
}

.testimonials-section .column-carousel.three-column .owl-dots{
	display:block !important;
	position:relative;
	text-align:center;
	padding:20px 0px;
	top:0px;
}

.testimonials-section .column-carousel.three-column .owl-dot span{
	background:#cccccc;
	
}

.testimonials-section .column-carousel.three-column .owl-dot span:hover,
.testimonials-section .column-carousel.three-column .owl-dot.active span{
	background:#01a5c9;
	
}

/*** 

====================================================================
	Default-two-column Section style
====================================================================

***/

.default-two-col{
	position:relative;
	background-color:#ffffff;
	z-index:99;
}

.default-two-col.with-tabs{
	padding:70px 0px;
	background:#fbfcfd;	
}

.default-two-col .content-column{
	position:relative;
	padding:60px 15px 10px;	
}

.default-two-col .content-column.style-two{
	position:relative;
	padding-bottom:60px;
}

.default-two-col.with-tabs .content-column{
	padding:0px 15px;	
}

.default-two-col .content-column h2{
	font-size:18px;
	text-transform:capitalize;
	margin-bottom:20px;
	font-weight:700;
	text-transform:uppercase;
	color:#1b1b1b;
}

.default-two-col .content-column .text{
	text-align:justify;	
}

.default-two-col .content-column .read-more{
	position:relative;
	display:inline-block;
	margin:10px 0px;
	text-transform:capitalize;
	color:#01a5c9;
}

.default-two-col .content-column .read-more .icon{
	position:relative;
	padding-right:5px;
	font-size:14px;	
}

.default-two-col .form-column .inner-box{
	position:relative;
	padding:30px 30px 25px;
	background:#eaeff3;
	margin-top:-30px;
	z-index:5;
}

/*** 

====================================================================
	Default-two-column Section style
====================================================================

***/

.featured-image-sec{
	position:relative;
	padding:80px 0px 20px;
	background:#ffffff;
}

.featured-image-sec .image-column{
	position:relative;
	margin-bottom:60px;	
}

.featured-image-sec .image-column img{
	position:relative;
	display:block;
	width:100%;	
}

.featured-image-sec .block-column{
	position:relative;
	margin-bottom:0px;	
}

.featured-image-sec .block-column .block{
	position:relative;
	margin-bottom:60px;	
	min-height:130px!important;
}

.featured-image-sec .block-column h3{
	
	margin-bottom:15px;
	padding-left:60px;
	padding-bottom:10px;
	position: relative;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #4c4c4c;
}

.featured-image-sec .block-column h3:after{
	content:'';
	position:absolute;
	left:60px;
	top:100%;
	height:2px;
	width:50px;
	background:#01a5c9;	
}

.featured-image-sec .block-column .icon{
	position:absolute;
	left:0px;
	top:0px;
	font-size:38px;	
	color:#01a5c9;
	line-height:40px;
	display:block;
}

.featured-image-sec .block-column .text{
	position:relative;
	padding-left:60px;
}

/*** 

====================================================================
	Fluid Section Two Style
====================================================================

***/

.fluid-section-two{
	position:relative;
	background:#eaeff3;
	overflow:hidden;	
}

.fluid-section-two .large-container{
	position:relative;	
}

.fluid-section-two .large-container .left-column{
	position:relative;
	float:left;
	width:48%;
	padding:70px 0px 60px;	
}

.why-us-column{
	position:relative;
	color:#666666;
	padding-right:120px;
}

.why-us-column.style-two{
	padding-right:15px;	
}

.why-us-column h2{
	font-size:18px;
	font-weight:600;
	margin-bottom:20px;
	text-transform:uppercase;
	color:#2b2b2b;
}

.why-us-column .desc-text{
	position:relative;
	margin-bottom:40px;	
}

.why-us-column .column{
	position:relative;
	margin-bottom:20px;	
}

.styled-list-one{
	position:relative;	
}

.styled-list-one li{
	position:relative;
	margin-bottom:10px;
	padding-left:30px;
	line-height:24px;
}

.styled-list-one li:before{
	content:'\f00c';
	font-family:'FontAwesome';
	position:absolute;
	left:0px;
	top:0px;
	width:20px;
	line-height:24px;
	font-size:14px;
	color:#01a5c9;	
}


.fluid-section-two .large-container .bg-skew{
	position:absolute;
	right:0px;
	top:0px;
	width:53%;
	height:100%;
	background:#01a5c9;
	transform:skewX(-22deg);
	-webkit-transform:skewX(-22deg);
	-ms-transform:skewX(-22deg);
	-o-transform:skewX(-22deg);
	-moz-transform:skewX(-22deg);
}

.fluid-section-two .large-container .bg-skew:before{
	content:'';
	position:absolute;
	display:block;
	left:50%;
	width:1500px;
	height:100%;
	background:#01a5c9;
	
}

.fluid-section-two .right-column{
	position:relative;
	float:right;
	width:52%;
	color:#ffffff;
	padding:70px 50px 20px 80px;
	transform:skewX(-22deg);
	-webkit-transform:skewX(-22deg);
	-ms-transform:skewX(-22deg);
	-o-transform:skewX(-22deg);
	-moz-transform:skewX(-22deg);	
}

.fluid-section-two .right-column h2{
	font-size:18px;
	font-weight:600;
	margin-bottom:20px;
	padding-left:10px;
	text-transform:uppercase;
	color:#ffffff;
	transform:skewX(22deg);
	-webkit-transform:skewX(22deg);
	-ms-transform:skewX(22deg);
	-o-transform:skewX(22deg);
	-moz-transform:skewX(22deg);
}

.fluid-section-two .specs-outer{
	position:relative;
	padding-left:30px;
}

.fluid-section-two .specs-outer .line-left{
	position:absolute;
	display:block;
	left:0px;
	width:1px;
	background:#ffffff;
	height:86%;
	top:24px;
}

.fluid-section-two .specs-outer .spec-block{
	position:relative;
	margin-bottom:50px;
	padding-left:60px;
	transform:skewX(22deg);
	-webkit-transform:skewX(22deg);
	-ms-transform:skewX(22deg);
	-o-transform:skewX(22deg);
	-moz-transform:skewX(22deg);
}

.fluid-section-two .specs-outer .spec-block .icon-box{
	position:absolute;
	left:5px;
	top:50%;
	margin-top:-20px;
	height:40px;
	width:40px;
	font-size:32px;
	line-height:40px;	
}

.fluid-section-two .specs-outer .spec-block:before{
	content:'';
	position:absolute;
	display:block;
	left:-30px;
	top:50%;
	width:20px;
	height:0px;
	border-bottom:1px solid #ffffff;	
}


/*** 

====================================================================
	Fluid Section Three Style
====================================================================

***/

.fluid-section-three{
	position:relative;
	background:#eaeff3;
	overflow:hidden;	
}

.fluid-section-three .image-box{
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	width:50%;
	height:100%;
	background-position:left top;
	background-repeat:no-repeat;
	background-size:cover;	
}

.fluid-section-three .large-container{
	position:relative;	
}


.fluid-section-three .large-container .bg-skew{
	position:absolute;
	right:0px;
	top:0px;
	width:73%;
	height:100%;
	background:#eaeff3;
	transform:skewX(-22deg);
	-webkit-transform:skewX(-22deg);
	-ms-transform:skewX(-22deg);
	-o-transform:skewX(-22deg);
	-moz-transform:skewX(-22deg);
}

.fluid-section-three .large-container .bg-skew:before{
	content:'';
	position:absolute;
	display:block;
	left:50%;
	width:1500px;
	height:100%;
	background:#eaeff3;
	
}

.fluid-section-three .right-column{
	position:relative;
	float:right;
	width:70%;
	color:#ffffff;
	padding:70px 50px 0px 100px;	
}


.fluid-section-three .block-column .block {
    position: relative;
    margin-bottom: 50px;
    min-height: 140px;
}

.fluid-section-three .block-column h3{
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    color: #4c4c4c;
}

.fluid-section-three .block-column h3:after{
	content:'';
	position:absolute;
	left:60px;
	top:100%;
	height:2px;
	width:50px;
	background:#01a5c9;	
}

.fluid-section-three .block-column .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 38px;
    color: #01a5c9;
    line-height: 40px;
    display: block;
    opacity: 1;
    font-weight: normal;
}

.fluid-section-three .block-column .text{
	position:relative;
	padding-left:60px;
}
.fluid-section-three .block-column .text p{
	color:#777777;
}

.styled-list-two{
	position:relative;	
}

.styled-list-two li{
	position:relative;
	margin-bottom:10px;
	padding-left:30px;
	line-height:24px;
}

.styled-list-two li a{
	color:#01a5c9;
	text-decoration:underline;
}

.styled-list-two li:before{
	content:'\e0c2';
	font-family:'Flaticon';
	position:absolute;
	left:0px;
	top:0px;
	width:20px;
	line-height:24px;
	font-size:14px;
	color:#01a5c9;	
}

/*** 

====================================================================
	Default Services Section
====================================================================

***/

.default-services{
	position:relative;
	padding:70px 0px 10px;
	background:#ffffff;
}

.default-services .column{
	position:relative;
	margin-bottom:50px;	
}

.default-services .column h3{
	position:relative;
	font-size:15px;
	text-transform:capitalize;
	color:#2b2b2b;
	margin-bottom:15px;
	font-weight:600;
	font-family:'Open Sans',sans-serif;
	padding-left:60px;
	padding-bottom:10px;
}

.default-services .column h3:after{
	content:'';
	position:absolute;
	left:60px;
	top:100%;
	height:2px;
	width:50px;
	background:#01a5c9;	
}

.default-services .column .icon{
	position:absolute;
	left:0px;
	top:0px;
	font-weight:normal;
	font-size:38px;	
	color:#01a5c9;
	line-height:40px;
	display:block;
}

.default-services .column .text{
	position:relative;
	padding-left:60px;
}

/*** 

====================================================================
	Logistics Progress style
====================================================================

***/

.log-progress-section{
	position:relative;
	padding:70px 0px 40px;
	background:#01a5c9;
	color:#ffffff;
}

/*** 

====================================================================
	Vertical Blocks style
====================================================================

***/

.vertical-blocks{
	position:relative;
}

.vertical-blocks .block{
	position:relative;
	margin-bottom:30px;
	padding-left:30px;
	border-right:1px solid #e0e0e0;
	overflow:hidden;
}

.vertical-blocks .block:after{
	content:'';
	position:absolute;
	right:0px;
	bottom:0px;
	border-bottom:1px solid #e0e0e0;
	width:97%;	
}

.vertical-blocks .block .inner-box{
	position:relative;
	padding:20px 20px 10px 50px;
}

.vertical-blocks .block .inner-box:before{
	content:'';
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:1px solid #e0e0e0;
	border-right:none;
	border-left:3px solid #01a5c9;
	transform:skewX(-22deg);
	-webkit-transform:skewX(-22deg);
	-ms-transform:skewX(-22deg);
	-o-transform:skewX(-22deg);
	-moz-transform:skewX(-22deg);
}

.vertical-blocks .block:nth-child(2) .inner-box:before{
	border-left-color:#01a5c9;	
}

.vertical-blocks .block:nth-child(3) .inner-box:before{
	border-left-color:#01a5c9;	
}

.vertical-blocks .block h3{
	position:relative;
	font-size:15px;
	color:#1b1b1b;
	padding-left:50px;
	font-weight:600;
	margin-bottom:10px;
}

.vertical-blocks .block .icon{
	position:absolute;
	left:0px;
	top:0px;
	width:30px;
	font-size:32px;
	color:#d0d0d0;	
}

