/* TransPlus HTML5 Template */

@media only screen and (max-width: 1140px){
	.main-header .header-lower .outer-box{
		padding-right:0px;	
	}
	
	.main-header.header-style-three .nav-outer{
		margin-left:-15px;
		margin-right:-15px;
		padding-left:15px;	
	}
	
	.main-menu .navigation > li{
		margin-right:10px;	
	}
	
	.header-style-two .main-menu .navigation > li{
		margin-right:0px;
		margin-left:0px;
	}
	
	.main-menu .navigation > li > a,
	.header-style-two .main-menu .navigation > li > a{
		padding-left:10px;
		padding-right:10px;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:20px;	
	}
	
	.services-style-one .outer-container{
		padding:0px 40px;	
	}
	
	.services-style-one {
		padding:100px 0px;
		background:#247fe1;	
	}
	
	.services-style-one .left-column{
		padding:0px 15px 50px;	
	}
	
	.services-style-one .background-image-one,
	.services-style-one .background-image-two{
		display:none;	
	}
	
	.services-style-one .transparent-column .inner-box{
		margin-left:0px;	
	}
	
	.two-col-fluid .content-column .content-inner{
		padding:80px 20px;	
	}
	
	.page-wrapper{
		overflow:hidden;	
	}
	
	.projects-carousel-section .owl-controls {
		display:none;	
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.main-menu .navigation > li,
	.header-style-two .main-menu .navigation > li{
		margin-right:15px;	
	}
	
	.main-menu .navigation > li > a,
	.header-style-two .main-menu .navigation > li > a{
		padding-left:0px;
		padding-right:0px;
		font-weight:600;
		text-transform:capitalize;	
	}
	
	.header-style-two .main-menu .navigation > li ul > li > ul{
		left:auto !important;
		right:100% !important;	
	}
	
	.main-header .header-top .top-right ul {
		text-align: left;
	}
	
	.main-header .header-top .top-right ul li {
		display: inline-block;
		float: none;
		margin:0px 0px 0px;
	}
	
	.main-header .header-upper .upper-right{
		width:100%;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		padding-right:15px;
	}
	
	.bounce-in-header{
		display:none;	
	}
	
	.two-col-fluid .content-column{
		width:100%;
		background:#f6f6f6;	
	}
	
	.request-quote-section .image-column,
	.request-quote-section .form-column{
		padding-right:15px !important;
		display:none;
	}
	
	.request-quote-section .image-column img{
		max-width:100%;
		display:block;	
	}
}

@media only screen and (max-width: 767px){
	
	.main-header .nav-outer{
		padding-right:0px;	
	}
	
	.main-header.header-style-three .nav-outer{
		padding-left:0px;
		border-left:15px solid transparent;
		border-right:15px solid transparent;	
	}
	
	.main-header .get-btn{
		right:auto;
		left:0px;
		z-index:14;
		height:58px;	
	}
	
	.main-header .header-top .top-right, 
	.main-header .header-top .top-left {
		width: 100%;
	}

	.header-upper .logo-outer  {
		display: block;
		width: 100%;
	}
	
	.main-header .right-menu{
		width:100%;
		margin-top:-75px;
	}
	
	.main-header .main-menu{
		padding-top:0px;
		width:100%;
		margin:0px;
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:0px 0px;
		border:1px solid #11c3f0;
		margin:0px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:0px;
		border:1px solid #11c3f0;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;	
	}
	
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:12px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:7;
		border:1px solid #11c3f0;
		float:none;
		margin:0px;
		border-radius:0px;
		background:#11c3f0;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#11c3f0;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		width:100%;
		background:#11c3f0;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#11c3f0;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#11c3f0;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#11c3f0;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.features-section-one .bg-circle-column .inner-box{
		background:none;	
	}
	
	.features-section-one .bg-circle-column .inner-box .feature-box{
		position:relative !important;
		left:0px !important;
		top:0px !important;
		right:0px !important;
		bottom:0px !important;
		text-align:left !important;
		margin-bottom:30px;
		max-width:none;
		width:auto;
	}
	
	.revolution-slider .tp-caption{
		display:none !important;	
	}
	
	.testimonials-area .testi-pager .pager-item{
		display:none;	
	}
	
	.testimonials-area .testi-pager .pager-item.active{
		display:inline-block;
		width:100%;	
	}
	
	.footer-bottom{
		text-align:center;	
	}
	
	.footer-bottom .copyright-text{
		margin-bottom:10px;	
	}
	
	.footer-bottom .footer-nav ul{
		float:none !important;	
	}
	
	.footer-bottom .footer-nav ul li{
		float:none;
		display:inline-block;
		margin:0px 5px 5px;
	}
	
	.services-style-one .outer-container{
		padding:0px 15px;	
	}
	
	.services-style-one .left-column h2,
	.fact-counter .counter-column .count-outer,
	.default-parallax-section h2{
		font-size:32px;	
	}
	
	.services-style-one .transparent-column .inner-box{
		padding:50px 20px;	
	}
	
	.accordion-box .accordion .accord-content{
		padding:20px 0px;	
	}
	
	.accordion-box .accordion .accord-btn{
		padding-left:15px;	
	}
	
	.intro-style-two h2,
	.default-section .text-column h2{
		font-size:25px;	
	}
	
	.default-section .upper-part .intro-text{
		padding-left:20px;	
	}
	
	.contact-section .info-column{
		padding-left:15px;	
	}
	.fluid-section-three .right-column {
		width: 100% !important;
		padding: 70px 0px 0px 0px !important;
	}
	.fluid-section-three .large-container .bg-skew {
		width: 100% !important;
		transform: inherit !important;
	}
	.fluid-section-three .image-box {
		background: none !important;
	}
}

@media only screen and (max-width: 599px){
	.fixed-header .header-lower{
		position:relative !important;
	}
	.main-header .header-upper .upper-column.info-box {
		display: block;
	}

	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		float:none !important;
		text-align:center;
	}
	
	.sidebar-page .comments-area .comment,
	.sidebar-page .comments-area .reply-comment,
	.sidebar-page .about-author .author-desc{
		padding-left:0px;
		margin-left:0px;	
	}
	
	.sidebar-page .comments-area .comment-box .author-thumb,
	.sidebar-page .about-author .author-thumb{
		position:relative;
		left:0px;
		margin-bottom:20px;	
	}
	
	.main-header .header-upper .upper-column{
		margin-left:0px;
		width:100%;	
	}
	
	.page-title{
		padding:50px 0px;	
	}
	
	.page-title h1{
		font-size:32px;	
	}
	
	.sec-title h2,
	.main-bxslider h2{
		font-size:18px;	
	}
	
	.main-header .header-upper .upper-column{
		padding-right:0px;	
	}
	
	.sidebar-page-container .comments-area .reply-comment{
		margin-left:0px;	
	}
	
	.sidebar-page-container .comments-area .comment-info .comment-time{
		float:left !important;	
	}
	
}
@media only screen and (max-width: 499px) {
	.main-header .header-upper .upper-column.info-box {	
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
}
@media only screen and (max-width: 767px){
.main-header .nav-outer {
    padding-right: 0px!important;
}
.main-header .get-btn {
    display: none;
}
    
}