
/*** 

====================================================================
	Reservation Section
====================================================================

***/

.reservation-section{
	position:relative;
	width:100%;
	padding:130px 0px;
	background-size:cover;
	background-attachment:fixed;
	background-position:center center;
	background-repeat:no-repeat;
	color:#ffffff;
}

.reservation-section.light-theme{
	background-color:#ffffff;
	background-attachment:scroll;
	background-position:right center;
	background-size:auto;
	color:#666666;	
}

.reservation-section.light-theme .floated-image{
	position:absolute;
	left:0px;
	bottom:0px;	
}

.default-styled-form{
	position:relative;	
}

.default-styled-form .form-group{
	position:relative;
	display:block;
	margin-bottom:20px;	
}

.default-styled-form.style-one .form-group{
	display:inline-block;
	margin:0px 8px 15px;
	width:250px;	
}

.default-styled-form .form-group input[type="text"],
.default-styled-form .form-group input[type="email"],
.default-styled-form .form-group input[type="password"],
.default-styled-form .form-group input[type="tel"],
.default-styled-form .form-group input[type="number"],
.default-styled-form .form-group select,
.default-styled-form .form-group textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:26px;
	padding:10px 20px;
	border:2px solid #d8d8d8;
	height:50px;
	background:none;
	z-index:1;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}

.default-styled-form.style-one .form-group input[type="text"],
.default-styled-form.style-one .form-group input[type="email"],
.default-styled-form.style-one .form-group input[type="password"],
.default-styled-form.style-one .form-group input[type="tel"],
.default-styled-form.style-one .form-group input[type="number"],
.default-styled-form.style-one .form-group select,
.default-styled-form.style-one .form-group textarea{
	border-color:#ffffff;
}

.default-styled-form .form-group input:focus,
.default-styled-form .form-group select:focus,
.default-styled-form .form-group textarea:focus{
	border-color:#ffd71b !important;
}

.default-styled-form .form-group input:focus+.icon,
.default-styled-form .form-group select:focus+.icon,
.default-styled-form .form-group textarea:focus+.icon{
	color:#ffd71b !important;
}

.default-styled-form .form-group textarea{
	resize:none;
	height:120px;	
}

.reservation-section .default-styled-form .form-group .icon{
	color:#ffffff;
}

.default-styled-form .form-group .icon,
.light-theme.reservation-section .default-styled-form .form-group .icon{
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-10px;
	width:20px;
	height:20px;
	line-height:20px;
	color:#999999;
	font-size:14px;	
}

.reservation-section.style-two .content-column{
	padding:110px 15px 30px;
	text-align:center;	
}

.reservation-section.light-theme .content-column{
	padding:10px 15px 30px;
}

.reservation-section.style-two .sec-title{
	margin-bottom:10px;	
}

.reservation-section.style-two .sec-title h2{
	color:#ffffff;	
}

.reservation-section.light-theme .sec-title h2{
	color:#333333;	
}

.reservation-section.style-two .content-column .timing{
	margin-bottom:15px;	
}

.reservation-section.style-two .content-column .text{
	color:#ffffff;
	font-size:14px;
}

.reservation-section.light-theme .content-column .text{
	color:#666666;
	margin-bottom:30px;
}

.reservation-section.style-two .form-column{
	padding-right:80px;	
}

.reservation-section.style-two .content-column h3{
	color:#333333;
	font-size:16px;
	font-weight:700;
	text-transform:capitalize;
	margin-bottom:20px;
}

.reservation-section.style-two .content-column .opening-hours{
	position:relative;
	margin-bottom:30px;
	font-size:14px;
	font-family:'Roboto Slab',sans-serif;
}

.reservation-section.style-two .content-column .opening-hours li{
	margin-bottom:10px;	
}

.reservation-section.style-two .content-column .more-info{
	position:relative;
	font-size:14px;
	font-family:'Roboto Slab',sans-serif;
	font-weight:300;
}



/*** 

====================================================================
	Recommended Item
====================================================================

***/

.recommended-item{
	position:relative;
	width:100%;
	padding:130px 0px;
	z-index:3;
}

.recommended-item .sec-title{
	margin-bottom:80px;	
}

.recommended-item .content-container{
	position:relative;
	padding-top:130px;	
}

.recommended-item .content-container .text-block{
	position:absolute;
	max-width:220px;
	z-index:1;
}

.recommended-item .content-container .text-block:nth-child(1){
	left:50%;
	margin-left:-125px;
	top:0px;
	text-align:center;
}

.recommended-item .content-container .text-block:nth-child(1):after{
	content:'';
	position:absolute;
	left:50%;
	top:110%;
	border-right:1px dashed #999999;
	height:70px;
}


.recommended-item .content-container .text-block:nth-child(2){
	left:140px;
	top:120px;
	text-align:right;
}

.recommended-item .content-container .text-block:nth-child(2):after{
	content:'';
	position:absolute;
	left:110%;
	top:10px;
	border-right:1px dashed #999999;
	height:80px;
	-webkit-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	transform:rotate(-20deg);
}

.recommended-item .content-container .text-block:nth-child(3){
	right:140px;
	top:120px;
	text-align:left;
}

.recommended-item .content-container .text-block:nth-child(3):after{
	content:'';
	position:absolute;
	right:110%;
	top:10px;
	border-right:1px dashed #999999;
	height:80px;
	-webkit-transform:rotate(20deg);
	-ms-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
	transform:rotate(20deg);
}

.recommended-item .content-container .text-block:nth-child(4){
	left:0px;
	top:250px;
	text-align:right;
}

.recommended-item .content-container .text-block:nth-child(4):after{
	content:'';
	position:absolute;
	left:120%;
	top:0px;
	border-right:1px dashed #999999;
	height:80px;
	-webkit-transform:rotate(-60deg);
	-ms-transform:rotate(-60deg);
	-o-transform:rotate(-60deg);
	-moz-transform:rotate(-60deg);
	transform:rotate(-60deg);
}

.recommended-item .content-container .text-block:nth-child(5){
	right:0px;
	top:250px;
	text-align:left;
}

.recommended-item .content-container .text-block:nth-child(5):after{
	content:'';
	position:absolute;
	right:120%;
	top:0px;
	border-right:1px dashed #999999;
	height:80px;
	-webkit-transform:rotate(60deg);
	-ms-transform:rotate(60deg);
	-o-transform:rotate(60deg);
	-moz-transform:rotate(60deg);
	transform:rotate(60deg);
}

.recommended-item .content-container .text-block h3{
	position:relative;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:10px;
}

.recommended-item .content-container .text-block .text{
	position:relative;
	font-size:14px;
	line-height:2em;
}

.recommended-item .content-container .image-outer{
	position:relative;
	max-width:750px;
	margin:0 auto;
	text-align:center;	
}

.recommended-item .content-container .image-outer img{
	display:inline-block;
	max-width:100%;	
}
/*** 

====================================================================
	About style One
====================================================================

***/

.about-one{
	position:relative;
	width:100%;
	padding:130px 0px;
}

.large-container{
	max-width:1650px;
	padding:0px 15px;
	margin:0 auto;	
}

.medium-container{
	max-width:1400px;
	padding:0px 15px;
	margin:0 auto;	
}

.about-one .featured-block{
	position:relative;
	margin-bottom:50px;
	max-width:410px;	
}

.about-one .left-column{
	position:relative;
	float:left;
	max-width:510px;
}

.about-one .right-column{
	position:relative;
	float:right;
	max-width:510px;	
}

.about-one .left-column .featured-block{
	padding-right:100px;
	text-align:right;
	float:left;
	margin-left:100px;
}

.about-one .right-column .featured-block{
	padding-left:100px;
	text-align:left;
	float:right;
	margin-right:100px;
}

.about-one .left-column .featured-block:last-child{
	margin-bottom:0px;	
}

.about-one .right-column .featured-block:last-child{
	margin-bottom:0px;	
}

.about-one .left-column .featured-block:nth-child(2),
.about-one .right-column .featured-block:nth-child(2){
	margin-left:0px;
	margin-right:0px;	
}

.about-one .featured-block .icon-outer{
	position:absolute;
	top:10px;
	width:72px;
	height:72px;
	border:1px solid #ffd71b;
	background:#ffffff;
	border-radius:50%;
	text-align:center;
	line-height:70px;
	font-size:24px;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
}

.theme-brown .about-one .featured-block .icon-outer{
	border:1px solid #562c19;
}

.theme-green .about-one .featured-block .icon-outer{
	border:1px solid #73a702;
}

.about-one .featured-block:hover .icon-outer{
	background:#ffd71b;
	color:#ffffff;	
}

.theme-brown .about-one .featured-block:hover .icon-outer{
	background:#a8724e;	
}

.theme-green .about-one .featured-block:hover .icon-outer{
	background:#73a702;	
}

.about-one .featured-block .icon-outer:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:1px solid #ffd71b;
	border-radius:50%;
	-webkit-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	transform:scale(1.15,1.15);
}

.theme-brown .about-one .featured-block .icon-outer:before{
	border:1px solid #562c19;
}

.theme-green .about-one .featured-block .icon-outer:before{
	border:1px solid #73a702;
}

.about-one .left-column .featured-block .icon-outer{
	right:0px;	
}

.about-one .right-column .featured-block .icon-outer{
	left:0px;	
}

.about-one .featured-block .title{
	position:relative;
	margin-bottom:25px;	
}

.about-one .featured-block .title:after{
	content:'';
	position:absolute;
	bottom:-10px;
	width:40px;
	height:1px;
	border-bottom:1px solid #ffd71b;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;	
}

.theme-brown .about-one .featured-block .title:after{
	border-bottom:1px solid #562c19;
}

.theme-green .about-one .featured-block .title:after{
	border-bottom:1px solid #73a702;
}

.about-one .left-column .featured-block .title:after{
	right:0px;	
}

.about-one .right-column .featured-block .title:after{
	left:0px;	
}

.about-one .featured-block:hover .title:after{
	width:60px;	
}

.about-one .featured-block h3{
	color:#ffd71b;
	font-size:16px;
	letter-spacing:1px;
	font-weight:700;
	text-transform:uppercase;	
}

.theme-brown .about-one .featured-block h3{
	color:#562c19;	
}

.theme-green .about-one .featured-block h3{
	color:#73a702;	
}

.about-one .featured-block .text{
	position:relative;
	font-size:14px;
	color:#666666;
}

.about-one .features-outer{
	position:relative;
	background-repeat:no-repeat;
	background-position:center top;	
}



/* === 15 our skills styles */



.our-skills {
  padding-bottom: 100px;
}
.our-skills .our-skills-wrap {
  margin-top: 50px;
}
.our-skills.about-page .our-skill-text {
  padding-left: 70px;
}
.our-skills.about-page .our-skill-text .our-skills-wrap {
  margin-top: 42px;
}
.skills-left h4 {
  color: #282828;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: .15em;
  margin-bottom: 25px;
}
.skills-left p {
  color: #969595;
  font-size: 14px;
}
.skills-left .img-holder {
  position: relative;
  display: inline-block;
}
.skills-left .img-holder:before {
  content: ' ';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #fff;
  z-index: 3;
}
.skills-name li {
  margin-bottom: 25px;
}
.skills-name li:last-child {
  margin-bottom: 0;
}
.skills-name li h5 {
  text-transform: uppercase;
  color: #404040;
  font-size: 11px;
  margin-bottom: 13px;
}
.skills-name li .progress-wrap {
  height: 4px;
  width: 100%;
  background: #EAEAEA;
  display: block;
  position: relative;
}
.skills-name li .progress-wrap .progress-value-bar {
  height: 100%;
  background: #2A2A2A;
  position: absolute;
  top: 0;
  left: 0;
}
.skills-name li .progress-wrap .progress-value-bar .value {
  font-size: 11px;
  color: #535353;
  position: absolute;
  top: -32px;
  right: 0;
}
.skills-name.style-two li .progress-wrap {
  background: #1CBAC8;
}



/* === 17 why choose us styles */


.why-choose-us-wrap {
  margin-top: 50px;
}
.why-choose-us.about-page {
  padding-top: 0px;
  padding-bottom: 80px;
}
ul.why-choose-us-facts li {
  margin-bottom: 30px;
}
ul.why-choose-us-facts li .icon-holder,
ul.why-choose-us-facts li .content {
  display: table-cell;
  vertical-align: middle;
}
ul.why-choose-us-facts li .icon-holder {
  width: 40px;
  height: 40px;
}
ul.why-choose-us-facts li .icon-holder i.icon {
  color: #1CBAC8;
  font-size: 40px;
  line-height: 40px;
}
ul.why-choose-us-facts li .content {
  padding-left: 30px;
}
ul.why-choose-us-facts li .content h4 {
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 10px;
}
ul.why-choose-us-facts li .content p {
  color: #7F7F7F;
  line-height: 26px;
  margin: 0;
}
.style-two .why-choose-us-wrap ul li {
  margin: 0;
  padding: 40px 0;
  border-bottom: 1px solid #E0E0E0;
}
.style-two .why-choose-us-wrap ul li:first-child {
  padding-top: 0;
}
.style-two .why-choose-us-wrap ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0px solid #E0E0E0;
}
.style-two .why-choose-us-wrap ul li .icon-holder {
  width: 70px;
  height: 70px;
}
.style-two .why-choose-us-wrap ul li .icon-holder i {
  line-height: 70px;
  font-size: 35px;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #26262A;
  text-align: center;
}

/* === 11 featured services styles */

.featured-service {
  background: #1CBAC8;
}
.featured-service .full-img {
  float: right;
}
.featured-service .full-img img {
  max-width: none;
}
.featured-service .featured-service-left {
  padding-bottom: 0;
  margin-left: -10px;
}
.featured-service .single-featured-service {
  margin-bottom: 80px;
  padding-left: 79px;
}
.featured-service .single-featured-service img {
  margin-bottom: 20px;
}
.featured-service .single-featured-service h3 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .15em;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.featured-service .single-featured-service p {
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  margin: 0;
}

/* ===================== section-about start ======================= */
.about-words {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #777;
    padding-bottom: 25px;
}

.work-process li:not(:first-of-type) {
    margin-left: 30px;
}

.work-process .titan-icon {
    border: 1px dashed #ffa60a;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    margin-top: 10px;
}

.work-process .titan-icon:before {
    line-height: 50px;
    font-size: 22px;
}

.about-txt .section-heading {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin-top: -65px;
    margin-left: -18px;
}

.about-txt .btn-prim-lg {
    margin-top: 50px;
}
.tc-2 {
    color: #FFA60A!important;
}
.about-txt .btn-prim-lg {
    margin-top: 50px;
}
.no-border {
    margin-bottom: 0;
    padding-bottom: 21px;
}

/* ======================== section-about end ========================= */

/* ================ section-why-us start =========================== */
.why-us-area {
    margin-top: 88px;
}

.why-us-mrg {
    padding-bottom: 30px;
}

.why-us-item {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 28px;
    padding-right: 25px;
    border: 1px solid #e7e7e7;
}

.why-us-item .titan-icon {
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background: #2c3e50;
    color: #fff;
    text-align: center;
    line-height: 72px;

    position: absolute;
    top: -48px;
    right: 25px;

    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.why-us-item:hover .titan-icon {
    background: #ffa60a;
}

.why-us-item .titan-icon:before {
    font-size: 30px;
}

.why-us-title a {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .40px;
    line-height: 26px;
    color: #232323;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.why-us-item:hover .why-us-title a {
    color: #ffa60a
}

.why-us-words {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .40px;
    font-style: italic;
    padding-bottom: 14px;
}

.why-us-txt {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
    padding-bottom: 18px;
}

.read-more-1 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: .40px;
    color: #ffa60a;
}

.section-why-us {
    overflow: hidden;
}

.why-us-img img {
    max-width: none !important;
}

#html5-watermark {
    display: none !important;
}
/* ================= section-why-us end ============================ */
/* ================================================================= */
/* ==============================
   10. Our Packages styles
   ============================== */
.our-packages .row {
  margin-left: -22.5px;
  margin-right: -22.5px;
}
.our-packages [class*="col-md"],
.our-packages [class^="col-md"] {
  padding: 0 22.5px;
}
.our-packages .single-our-package {
  border: 1px solid #EDEDED;
  padding: 0 30px;
}
.our-packages .single-our-package ul,
.our-packages .single-our-package li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.our-packages .single-our-package .img-box {
  margin-left: -31px;
  margin-right: -31px;
}
.our-packages .single-our-package .title-box {
  padding-top: 30px;
}
.our-packages .single-our-package .title-box .title h3 {
  margin: 0;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}
.our-packages .single-our-package .title-box .title span {
  font-size: 16px;
  color: #868686;
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
}
.our-packages .single-our-package .title-box .price-box {
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #d81f1f;
  line-height: 38px;
}
.our-packages .single-our-package .title-box .price-box span {
  font-size: 44px;
  font-weight: bold;
}
.our-packages .single-our-package .list-box {
  margin-top: 26px;
}
.our-packages .single-our-package .list-box ul li {
  font-size: 14px;
  color: #9E9E9E;
  line-height: 26px;
  margin-bottom: 4px;
}
.our-packages .single-our-package .list-box ul li i.fa {
  font-size: 14px;
  color: #93D096;
}
.our-packages .single-our-package .button-box {
  padding-bottom: 20px;
  margin-top: 26px;
}
.our-packages .single-our-package .button-box .thm-btn {
  width: 50%;
  float: left;
  font-size: 14px;
  padding: 0;
  text-align: center;
  line-height: 45px;
  border: none;
}
.our-packages .single-our-package .button-box .thm-btn:hover {
  background: #262627;
  color: #fff;
}
.our-packages .single-our-package .button-box .thm-btn:first-child {
  background: #262627;
}
.our-packages .single-our-package .button-box .thm-btn:first-child:hover {
  background: #d81f1f;
  color: #fff;
}
.more-package-page .single-our-package {
  margin-bottom: 30px;
}
/* ==============================
   17. About Content section  styles
   ============================== */
.about-content-section .row {
  margin-left: -31px;
  margin-right: -31px;
}
.about-content-section [class*="col-md"],
.about-content-section [class^="col-md"] {
  padding: 0 31px;
}
.about-content-section .video-box {
  position: relative;
}
.about-content-section .video-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.about-content-section .video-box .overlay .box {
  display: table;
  width: 100%;
  height: 100%;
}
.about-content-section .video-box .overlay .box a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.about-content-section .about-content-text {
  margin-right: -20px;
}
.about-content-section .about-content-text h3 {
  margin: 0;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #1E2023;
  font-weight: bold;
  margin-bottom: 28px;
}
.about-content-section .about-content-text p {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
  margin-bottom: 32px;
}
.about-content-section .about-content-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-content-section .about-content-text ul li {
  margin-bottom: 14px;
  list-style: none;
  font-size: 16px;
  color: #25292F;
  font-weight: 500;
  line-height: 26px;
}
.about-content-section .about-content-text ul li:last-child {
  margin-bottom: 0;
}
.about-content-section .about-content-text ul li i {
  font-size: 19px;
  color: #d81f1f;
  margin-right: 12px;
}
.about-call-to-action {
  border: 1px dashed #E4E4E4;
  margin-top: 85px;
}
.about-call-to-action .single-top-call-to-action {
  padding: 38px 0;
  padding-left: 30px;
  padding-bottom: 32px;
  position: relative;
}
.about-call-to-action .single-top-call-to-action.no-divider:before {
  display: none;
}
.about-call-to-action .single-top-call-to-action:before {
  content: '';
  position: absolute;
  right: -30px;
  bottom: 0px;
  width: 39px;
  height: 149px;
  background: url(../img/resources/about-call-to-action-divider.html) top center no-repeat;
}
.about-call-to-action .single-top-call-to-action .icon-box,
.about-call-to-action .single-top-call-to-action .text-box {
  display: table-cell;
  vertical-align: top;
}
.about-call-to-action .single-top-call-to-action .icon-box i {
  font-size: 36px;
  color: #1E2023;
}
.about-call-to-action .single-top-call-to-action .icon-box i.flaticon-gym {
  font-size: 49px;
}
.about-call-to-action .single-top-call-to-action .icon-box i.flaticon-exercise {
  font-size: 43px;
}
.about-call-to-action .single-top-call-to-action .text-box {
  padding-left: 30px;
}
.about-call-to-action .single-top-call-to-action .text-box h3 {
  margin: 0;
  text-transform: uppercase;
  color: #1E2023;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 8px;
}
.about-call-to-action .single-top-call-to-action .text-box p {
  font-size: 14px;
  margin: 0;
  color: #999999;
  line-height: 26px;
}
/* ==============================
   15. Top Call to Action styles
   ============================== */
.top-call-to-action {
  margin-top: -78px;
  position: relative;
  z-index: 99;
}
.top-call-to-action .container {
  background: #FF3A3A;
  padding: 27px 0;
}
.top-call-to-action .single-top-call-to-action {
  padding-left: 50px;
  position: relative;
}
.top-call-to-action .single-top-call-to-action.no-divider:before {
  display: none;
}
.top-call-to-action .single-top-call-to-action:before {
  content: '';
  position: absolute;
  right: -30px;
  bottom: -29px;
  width: 32px;
  height: 123px;
  background: url(../img/resources/top-call-to-action-divider.png) top center no-repeat;
}
.top-call-to-action .single-top-call-to-action .icon-box,
.top-call-to-action .single-top-call-to-action .text-box {
  display: table-cell;
  vertical-align: middle;
}
.top-call-to-action .single-top-call-to-action .icon-box i {
  font-size: 56px;
  color: #fff;
}
.top-call-to-action .single-top-call-to-action .text-box {
  padding-left: 26px;
}
.top-call-to-action .single-top-call-to-action .text-box span {
  font-size: 48px;
  line-height: 30px;
  color: #fff;
  font-weight: 800;
}
.top-call-to-action .single-top-call-to-action .text-box h3 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}
/* ==============================
   6. Featured section styles
   ============================== */
.featured-section .featured-title span {
  color: #d81f1f;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.featured-section .featured-title h2 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #1D2023;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 29px;
}
.featured-section p {
  font-size: 16px;
  color: #565656;
  line-height: 28px;
  margin: 0;
  margin-bottom: 34px;
}
.featured-section a.read-more {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  color: #1E2023;
  border: 2px solid #EAEAEA;
  padding: 8px 18px;
  margin-bottom: 75px;
}
.featured-section .video-box {
  position: relative;
}
.featured-section .video-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.featured-section .video-box .overlay .box {
  display: table;
  width: 100%;
  height: 100%;
}
.featured-section .video-box .overlay .box a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.single-featured-box {
  margin-bottom: 55px;
}
.single-featured-box:last-child {
  margin-bottom: 0;
}
.single-featured-box:first-child {
  margin-top: 35px;
  margin-bottom: 34px;
}
.single-featured-box:first-child .number-box {
  vertical-align: top;
  padding-top: 10px;
}
.single-featured-box:first-child .content-box .box {
  padding-top: 0;
  border-top: 0;
}
.single-featured-box ul,
.single-featured-box li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single-featured-box .number-box,
.single-featured-box .content-box,
.single-featured-box .img-box {
  display: table-cell;
  vertical-align: middle;
}
.single-featured-box .number-box {
  padding-right: 35px;
  font-family: 'Oswald', sans-serif;
  color: #E9E9E9;
  font-weight: bold;
  font-size: 48px;
  vertical-align: top;
  padding-top: 60px;
}
.single-featured-box .content-box {
  vertical-align: top;
}
.single-featured-box .content-box .box {
  margin-right: 50px;
  border-top: 1px solid #EDEDED;
  padding-top: 50px;
}
.single-featured-box .content-box h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #1E2023;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
  margin-bottom: 18px;
}
.single-featured-box .content-box p {
  font-size: 14px;
  color: #999999;
  line-height: 25px;
  margin: 0;
}
.single-featured-box .content-box ul li {
  display: inline-block;
}
.single-featured-box .content-box .bottom-box {
  margin-top: 17px;
}
.single-featured-box .content-box .bottom-box li {
  color: #858585;
  font-size: 18px;
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
}
.single-featured-box .content-box .bottom-box li span {
  color: #1E2023;
}
.single-featured-box .content-box .bottom-box li:last-child {
  font-size: 14px;
  color: #D4D4D4;
  margin-left: 23px;
  font-weight: normal;
}
.single-featured-box .content-box .bottom-box li:last-child span {
  color: #D4D4D4;
  margin-right: 25px;
}
.single-featured-box .content-box .bottom-box li:last-child a {
  font-size: 14px;
  color: #d81f1f;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.single-featured-box .img-box {
  width: 210px;
  text-align: center;
}